@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
.nav-fix{
    border-bottom: 1px solid #E2E8F0;
    position: fixed;
    top:0px;
    width: 100%;
    background: #fff;
    z-index: 1;
}
.header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E2E8F0;
    height: 6vh;
    width: 100%;
    margin-top: 1em;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


.nav-menu {
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 0rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    margin: 3px;
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
    margin: 0px 10px;
    cursor: pointer;
}
.logo {
    margin: 0px;
    font-size: 2em;
    font-weight: 500;
    color: #482ff7;
    margin: 0px 10px;
}


/* @media only screen and (max-width: 768px) { */
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0.1rem;
        flex-direction: column;
        background-color: #fff;
        width: 25%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        line-height: 10px;
        box-shadow:
            0 10px 27px rgba(246, 232, 232, 0.05);
            overflow: scroll;
    }
    .nav-menu::-webkit-scrollbar {
        display: none;
    }
.nav-link.nav-logo{
    margin-top: 30px;
    margin-bottom: 10px;
    border:0.5px solid #101010;
    padding: 15px 0px;
    border-radius: 20px;
    padding: 15px 5px;
    margin: 17px 55px;
}
    .nav-menu.active {
        left: 0;
        border:solid 1px #101010;
        z-index: 2;
    }

    .nav-item {
        margin: 2.5rem 0;
        cursor: pointer;
        padding: 0px 0px;
        box-shadow: 0px 0px 0px 0px;
        padding: 0px auto;
        width: 95%;
    }

    .hamburger {
        z-index: 3;
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
/* } */
.search{
    border:2px solid rgb(86, 43, 226);
}
.searchsub{
    height: 2.7rem;
    background: #dddbda36;
    border:none
}
.searchsec{
    display: flex;
    align-items: center;
}


form {
    /* background-color: #5360f1; */
    width: 25%;
    height: 4h;
    margin-bottom: 10px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    color: #5360f1;
  }
  
  #form input {
    all: unset;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  
  #form ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }
  
  #form svg {
    color: #5360f1;
    fill: currentColor;
    width: 24px;
    height: 24px;
    /* padding: 10px; */
    padding-top: 3px;
  }
  
  #form button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

/* define a fixed width for the entire menu */

.navigation {
    width: -webkit-fill-available;
  }
  
  
  /* reset our lists to remove bullet points and padding */
  
  .mainmenu,
  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }
  
  
  /* make ALL links (main and submenu) have padding and background color */
  
  .mainmenu p,
  .mainmenu label {
    display: block;
    background-color: #f5f5f5;
    text-decoration: none;
    padding: 8% 10%;
    color: #000;
  }
  
  .mainmenu input {
    display: none;
  }
  
  
  /* add hover behaviour */
  
  .mainmenu p:hover {
    background-color: #C5C5C5;
  }
  
  
  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */
  
  .mainmenu :checked+.submenu {
    display: block;
    max-height: 100vh;
  }
  
  
  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */
  
  .submenu p {
    background-color: #c2b6b6c5;
  }
  
  
  /* hover behaviour for links inside .submenu */
  
  .submenu p:hover {
    background-color: #993;
  }
  
  
  /* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */
  
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }

.Pbar{
  display: flex;
  justify-content: space-evenly;
  overflow: scroll;
  color: #5360f1;
  font-weight: 500;
  font-size: 150%;
  cursor: pointer;
}
.Pbar::-webkit-scrollbar {
  display: none;
}
.Pbar .PP{
  margin: 5px 6vw;
  text-align: center;
}


.svg-icon {
  width: 1.5em;
  height: 1.2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #5360f1;
}

.svg-icon circle {
  stroke: #5360f1;
  stroke-width: 1;
}
.loc{
  display: flex;
  flex-direction: row;
  color: #5360f1;
  font-size: 1.6em;
}
.login{
  position: absolute;
  margin-top: 0.4%;
  right: 8%;
  color: #5360f1;
  font-weight: 500;
  font-size: 150%;
  cursor: pointer;
}
  @media only screen and (max-width: 768px){
    .nav-menu{
        width: 72%;
    }
    .search {
      width: 50%;
      height: 4vh;
      margin-bottom: 10px;
      border-radius: 5px;
      position: relative;
      right: 35px;
  }
    .logo{
        font-size: 2em;
        font-size: 150%;

    }
    .login{
      right: 12%;
    }

  }
