.Product{
    display: flex;
    flex-direction: column;
}
.S{
    height: 100vh;
}
.pcontainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row;
}
.first{
    display: flex;
    border-bottom: 3px solid #706d6d4f;
    height: 91vh;
}
.history {
    display: flex;
    font-size: 2.3vh;
    cursor: pointer;
    padding-top: 1vh;
}
@media only screen and (max-width: 768px){

.first{
    flex-direction: column;
    height: fit-content;
}
.S{
    height: fit-content;
}
.Product{
    padding-top: 0vh;
}
}