.pcontainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row;

}
.pimage{
    background: sandybrown;
    height: 65vh;
    width: 50%;
    
}

.bo{
    border: 2px solid blue;
}
.imgtags{
    height: 20vh;
    width: 100%;
    background: rgb(96, 244, 212);
}
.pdetails{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 20px;
    background: rgb(96, 244, 212);
    height: 55vh;
    width: 100%;
    border-bottom: 3px solid #706d6d4f;
    background: #f1e8db;
}
.stiky{
height:100%;
  width:50%;
  float:left;
  position:sticky;
}

.pname{
    font-size: 4em;
    float: left;
}
.by{
    font-size: 1.5em;
}
.RR{
    font-size: 1.5em;
}
.price{
    font-size: 4em;
}
.offer{
    display: flex;
    margin-top: 20px;
    font-size: 2.1em;
    flex-direction: column;
    align-items: flex-start;
}
.offer1{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 2px;
}

.pdis{
    font-size: 3em;
}


.about{
    height: 100vh;
    display: flex;
    position: relative;
    top: 15vh;
}
.about-title{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    position: fixed;
}
.pre{
    height: 70vh;
    width: 100%;
    width: auto;
    
}

.buy{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    font-size: 80%;
}
.about-pages{
    position: absolute;
    right: 0;
    width: 50%;
}
.b{
    text-align: center;
    color: #f1e8db;
    font-weight: 500;
    font-size: 0.7em;
    background: orangered;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 0px 5px 1px;
    width: 160px;
    cursor: pointer;

}

/* .about-pages div{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.about-pages div> p{
    width: 80%;
    display: flex;
    font-size: 18px;
    line-height: 30px;
} */


/**preview bar**/
.previews {
    display: flex;
    position: relative;
    top: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 18%;
    background: rgb(228, 227, 227);
    margin-bottom: 20px;
    overflow: scroll;
    padding-top: 5vh;
    box-shadow: 0px 0px 8px 0px;
}
.previews::-webkit-scrollbar {
    display: none;
}
.preimg{
    box-shadow: 0px 0px 1px 0px;
    margin: 2px;
    height: 80px;
    width: 80px;
    cursor: pointer;

}
.sliderR{
    position: absolute;
    height: 70vh;
    top: 0px;
    width: 3vw;
    right: 23px;
    background: #00000002;
    font-size: 3rem;
    border: none;
    color: #282412e8;
    cursor: pointer;

}
.sliderL{
    position: absolute;
    top: 0px;
    height: 70vh;
    width: 3vw;
    left: 183px;
    background: #02010102;
    font-size: 3rem;
    border: none;
    color: #282412e8;
    cursor: pointer;

}

.sliderup{
    position: absolute;
    top: 0px;
    height: 6vh;
    width: 10vw;
    background: #00000014;
    font-size: 3rem;
    border: none;
    color: #000000b9;
    cursor: pointer;

}
.sliderdown{
    position: absolute;
    height: 6vh;
    width: 10vw;
    top:64vh;
    background: #00000014;
    font-size: 3rem;
    border: none;
    color: #000000b9;
    cursor: pointer;

}

/*Varients*/
.pcolor{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: lightcoral;
    width: 100%;
    height: 25vh;
    border-bottom: 3px solid #706d6d4f;
    background: #f1e8db;}
.pvarient{
font-size: 2em;
float: left;

}
.varients{
    display: flex;

}

/*Availibity*/
.pavail{
    background: mediumturquoise;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2em;
    width: 100%;
    height: 20vh;
    padding: 20px;
    border-bottom: 3px solid #706d6d4f;
    background: #f1e8db;
}
.pinput{
    margin: 10px;
}
.pin{
    width: 15vw;
    height: 5vh;
}
.psub{
    background: rgb(67, 67, 241);
    color: white;
    width: 8vw;
    height: 5vh;
}
input{
    padding: 2px;
}
.dis{
    padding: 20px;
    background: rgb(255, 176, 176);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid #706d6d4f;
    background: #f1e8db;
    
}

.detail{
    padding: 10px;
    font-size: 2em;
    height: 50vh;
    width: 90%;
}

td{
    font-size: 0.7em;
}
th{
    border-right:0.5px solid black;
}


/*Rating*/
.rating{
    background: rgba(236, 73, 73, 0.575);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;padding: 20px;
    font-size: 2.5em;
    overflow-y: scroll;
    border-bottom: 3px solid #706d6d4f;
    background: #f1e8db;
}
.rating::-webkit-scrollbar {
    display: none;
  }
.review{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: burlywood;
    width: 95%;
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;

}
.sim{
    height: 100vh;
}


.show {
    position: relative;
    top: -60px;
    background-color: #0000002a;
    height: 9vh;
    text-align: center;
    width: 100%;
}

.history {
    display: flex;
    font-size: 150%;
    cursor: pointer;
}
@media only screen and (max-width: 768px){
.about-title{
    flex-direction: column-reverse;
    position: relative;
    width: -webkit-fill-available;
}
.previews {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 13vh;
    background: rgb(245, 219, 219);
    width: -webkit-fill-available;
    align-items: flex-start;
}
/* .history{
    position: absolute;
    display: none;
    top: 1vh;
} */
.history {
    position: absolute;
    display: flex;
    margin: -17px 0px;
    top: 1vh;
}
.sliderup {
    position: absolute;
    top: 2%;
    left: 0px;
    height: 12.5vh;
    width: 5vw;
    background: #00000014;
    font-size: 3rem;
    border: none;
    color: #000000b9;
    cursor: pointer;
}
.sliderdown {
    position: absolute;
    top: 2%;
    right: 0px;
    height: 12.5vh;
    width: 5vw;
    background: #00000014;
    font-size: 3rem;
    border: none;
    color: #000000b9;
    cursor: pointer;
}
.sliderL {
    position: absolute;
    height: 57vh;
    top: 14px;
    width: 6vw;
    left: 0px;
    background: #00000002;
    font-size: 3rem;
    border: none;
    color: #282412e8;
    cursor: pointer;
}
.sliderR {
    position: absolute;
    height: 57vh;
    top: 14px;
    width: 6vw;
    right: 0px;
    background: #00000002;
    font-size: 3rem;
    border: none;
    color: #282412e8;
    cursor: pointer;
}
.about{
    flex-direction: column;
    align-items: center;
    width: 100%;
    width: 100vw;
}
.about-pages{
    position: unset;
    width: -webkit-fill-available;
}

    .pre {
        height: 100%;
        width: 90%;
        margin: 2% 5.3%;
    }

.pbuy{
    display: flex;
    flex-direction: column;
}
.psub{
    width: 30vw;
}
.pin{
    width: 40vw;
}
.b{
    margin: 30px;
}
.pdetails{
    margin-top:30px ;
    width: -webkit-fill-available;
}
.product{
    width: 65%;
}
.product img{
    width: 90%;
}
.preimg{
    height: 65px;
    width: 65px;
}
.show {
    top: -9vh;
    font-size: 170%;
    height: 9vh;
    color: white;
}
}